// Override variables here
$base-theme: Default;
$skin-name: camels;
$swatch-name: Nova;
$border-radius: 2px;
$accent: #ff4350;
$info: #80deea;
$success: #a5d6a7;
$warning: #ffecc7;
$error: #ffbfc4;
$text-color: #32364c;
$bg-color: #ffffff;
$base-text: #32364c;
$base-bg: #f8fafb;
$hovered-text: #888e90;
$hovered-bg: #f5f6f6;
$selected-text: #32364c;
$selected-bg: #e0f7fa;
$series-a: #ff4350;
$series-b: #ff9ea5;
$series-c: #00acc1;
$series-d: #80deea;
$series-e: #ffbf46;
$series-f: #ffd78c;

/* The variables are loaded before the Core styles */
@import '~@nativescript/theme/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
Page {
  font-family: 'Montserrat', sans-serif;
  font-size: 18;
  padding: 0;
}
RadDataForm {
  input: {
    font-size: 14;
  }
  label: {
    font-size: 14;
  }
}
.fs14 {
  font-size: 14;
}
.fs12 {
  font-size: 12;
}
.fs10 {
  font-size: 10;
}
.fs18 {
  font-size: 18;
}
.fs20 {
  font-size: 20;
}
.fa {
  font-family: FontAwesome, fa-regular-400;
}
.fas {
  font-family: FontAwesome, fa-solid-900;
}

.mt {
  font-family: Montserrat;
}
.page {
  align-items: center;
  flex-direction: column;
}
.action-bar {
  height: 50;
}

.item {
  padding: 10;
  background-color: $bg-color;
}

.big {
  font-size: 20;
}

.thumbnail {
  margin-right: 10;
}

.swipe-item {
  color: $text-color;
  padding: 16;
}

.swipe-item.left {
  background-color: #240774;
}

.swipe-item.right {
  background-color: #79000a;
}

.drawer {
  padding: 10;
  background-color: #333366;
}

.sideLogo {
  margin-bottom: 10;
}

.sideLabel {
  padding: 10;
}

.sideLightGrayLabel {
  background-color: $grey;
}
