// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import "~@nativescript/theme/core";
@import "~@nativescript/theme/orange";

// Override variables here
$base-theme: Default;
$skin-name: custom;
$swatch-name: Moonlight;
$border-radius: 2px;
$accent: #f4af03;
$info: #0c779b;
$success: #2b893c;
$warning: #ea9d07;
$error: #be5138;
$text-color: #ffffff;
$bg-color: #2f3640;
$base-text: #ffffff;
$base-bg: #282f36;
$hovered-text: #ffffff;
$hovered-bg: #40444f;
$selected-text: #ffffff;
$selected-bg: #f4af03;
$series-a: #ffca08;
$series-b: #ff710f;
$series-c: #ed2e24;
$series-d: #ff9f03;
$series-e: #e13c02;
$series-f: #a00201;

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
/* eslint-disable */
button {
  @include colorize($bg-color: primary);
  //   @include colorize($contrasted-border-color: accent background 20%);
}
