$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-calendar: "\e900";
$icon-check-cirlce: "\e901";
$icon-cricket: "\e902";
$icon-delete: "\e903";
$icon-edit: "\e904";
$icon-exclamation: "\e905";
$icon-home: "\e906";
$icon-info: "\e907";
$icon-lock: "\e908";
$icon-plus: "\e909";
$icon-pound: "\e90a";
$icon-power-off: "\e90b";
$icon-thumbs-down: "\e90c";
$icon-thumbs-up: "\e90d";
$icon-times: "\e90e";
$icon-user-add: "\e90f";
$icon-user-admin: "\e910";
$icon-user-cowboy: "\e911";
$icon-user-privacy: "\e912";
$icon-user-tag: "\e913";
$icon-user: "\e914";
$icon-users: "\e915";

